@font-face {
  font-family: 'Red Velvet';
  src: url('../fonts/redvelvet-regular-webfont.svg') format('svg'),
    url('../fonts/redvelvet-regular-webfont.woff') format('woff'),
    url('../fonts/redvelvet-regular-webfont.eot') format('embedded-opentype'),
    url('../fonts/redvelvet-regular-webfont.ttf') format('truetype');
}

main {
    height: 100%;
    width: 100%;
    padding: 3em 2em;
    text-align: center;
    background: #ffc73e;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

#intro {
    font-family: "Red Velvet";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.pink {
    color: #CE1076;
    font-family: "Red Velvet";
    font-size: 40px;
}

#main-container {
    width: 50%;
    display: inline-block;
}

#main-blurb {
    text-align: justify;
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: 300;
}
