@font-face {
  font-family: 'Red Velvet';
  src: url('../fonts/redvelvet-regular-webfont.svg') format('svg'),
    url('../fonts/redvelvet-regular-webfont.woff') format('woff'),
    url('../fonts/redvelvet-regular-webfont.eot') format('embedded-opentype'),
    url('../fonts/redvelvet-regular-webfont.ttf') format('truetype');
}

main {
    height: 100%;
    background: #ffc73e;
}

body {
    margin: 0;
}

html {
    background: #ffc73e;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 7px;
}

a {
    text-decoration: none;
    color: #CE1076;
}

#intro {
    font-family: "Red Velvet";
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.pink {
    color: #CE1076;
    font-family: "Red Velvet";
    font-size: 40px;
}

#main-container {
    width: 50%;
    display: table;
    margin: auto;
    padding: 3em 2em;
}

#main-blurb {
    text-align: left;
    font-family: "Alegreya", serif;
    font-size: 20px;
    font-weight: 200;
}

.fa {
    color: #CE1076;
}

.fa-6x {
    font-size: 6em;
}

#icons {
    position: fixed;
    left: 12px;
    top: 190px; //82px of burger + 72px + 36px
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 8px;
    z-index: 1;
}

#sidebar {
    position: fixed;
    width: 72px;
    height: 100%;
    background: black;
}

#main-content {
    margin-left: 72px;
}