/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 40px;
  left: 12px;
  top: 82px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: black;
  padding: 2.5em 2.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: black;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
    color: white;
    font-family: "Red Velvet";
    padding: 5px;
    text-decoration: none;
}

#profile {
    margin-bottom: 30px;
    border-radius: 50%;
    width: 100px;
    height: 95px;
}
